{% extends "::admin.html.twig" %}
{% block title "Caisse Régionale" %}

{% block menu %}
	
{% endblock menu %}

{% block titlesection %}
    {% if id is defined %}
        Editer la caisse régionale
    {% else %}
        Nouvelle caisse régionale
    {% endif %} 
{% endblock titlesection %}

{% block body %}
{% if id is defined %}
	<form action="{{ path('edit_caisseRegionale', {'id' : id }) }}" method="post" {{ form_enctype(form) }}>
{% else %}
	<form action="{{ path('new_caisseRegionale') }}" method="post" {{ form_enctype(form) }}>
{% endif %}		
    {{ form_widget(form) }}
    {{ form_rest(form) }}

    {% if id is defined %}
    	<button type="submit" class="btn">Edit</button>
    {% else %}
    	<button type="submit" class="btn">Create</button>
    {% endif %}		
</form>
{% endblock body %}