<div class="header">
	<div class="lft_top_side">
		<div class="head_top">
			<div class="head">
				<div class="logo">
				</div>
				<div class="search">
					<div class="lang_navi padding5">
		                <ul>
		                	{% if item_id != '' %}
		    					<li><a href="{{ path('translateItem', {'lang':lang, 'item_id':item_id, 'country': country, 'lang_dest': 'fr'}) }}" title="" class="first">FR</a></li>
		    					<li><a href="{{ path('translateItem', {'lang':lang, 'item_id':item_id, 'country': country, 'lang_dest': 'en'}) }}" title="">EN</a></li>
		    					<li><a href="{{ path('translateItem', {'lang':lang, 'item_id':item_id, 'country': country, 'lang_dest': 'de'}) }}" title="">DE</a></li>
		    				{% else %}
		    					<li><a href="{{ path('translateCat', {'lang':lang, 'cat_id':cat_id, 'country': country, 'lang_dest': 'fr'}) }}" title="" class="first">FR</a></li>
		    					<li><a href="{{ path('translateCat', {'lang':lang, 'cat_id':cat_id, 'country': country, 'lang_dest': 'en'}) }}" title="">EN</a></li>
		    					<li><a href="{{ path('translateCat', {'lang':lang, 'cat_id':cat_id, 'country': country, 'lang_dest': 'de'}) }}" title="">DE</a></li>
		    				{% endif %}
	    				</ul>
		        	</div>
		        	<input type="submit" id="search_button" class="research_button" value=" "/>
		        	<input type="text" id="search" class="research" name="search" value="Recherche" />
				</div>
			</div>

			{% if(display_menu) %}
				{% set class = '20' %}	
				{% render "CAFFrontBundle:Module:generateBloc" with {'position': "top", 'unique':1, 'lang':lang, 'cat_id':cat_id, 'item_id':item_id, 'country': country, 'cats': cats} %}				
		    {% else %}
		    	{% set class = '10' %}
	        {% endif %}
	    </div>
		<div class="btm_head">
	    </div>
	</div>

	<div class="rgt_top_side rgt{{class}}">
		<div class="org_virg virg{{class}}">
		</div>
	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript">

$(function(){
	var config = {
	    over: makeTall, 
	    timeout: 200, 
	    out: makeShort 
	};
	$(".top_navi li").children('div.submenu').hide();
	$("li.lvl_1").children('ul').hide();
	$(".top_navi li.parent").hoverIntent(config);
	$("li.lvl_1").mouseover(function(){
		$("li.lvl_1").children('ul').hide();
		$(this).parent('ul.lvl_1').parent('div.submenu').children('ul.menu_picto').css('margin-left','0');
		var height_parent = $(this).parent('ul').height();
		$(this).children('ul').height(height_parent);

		if($(this).children('ul').children('li').length > 0) {
			$(this).children('ul').show();
			$(this).parent('ul.lvl_1').parent('div.submenu').children('ul.menu_picto').css('margin-left','210px');
		}
	});
	/*$("li.lvl_1").mouseout(function(){
		//$(this).children('ul').hide();
	});*/
})

function makeTall() {
	var height_parent = $(this).children('div').height();
	var padding_top = $(this).children('div').children('ul.menu_picto').css('padding-top');
	if (typeof(padding_top) != 'undefined') {
		padding_top = padding_top.substr(0,2);
		var height_result = height_parent - padding_top;
    	$(this).children('div').children('ul.menu_picto').height(height_result);
	}
		
    $(this).children("div").slideDown("fast", function(){});
}

function makeShort() {
    jQuery(this).children("div").slideUp("fast", function(){});
}

</script>