{#

	params:
		- cols : nombre de colonnes correspond ( ex: pour recuperer la bonne classe -> span{{cols}}0 )
	
#}

{% set class = "middle_block span" ~ cols ~ "0 " ~ pos %}
{% if pos != "left" and cols < 3 %}
	{% set class = class ~ " border" %}
{% endif %}
<div class="{{ class }}">
	<div class="article_gn">
		<h1>{{ category.title|upper }}</h1>
		{% set media = '' %}
		{% set short_desc = '' %}
		
		{% for article in category.contents %}
			{% set date_news = '' %}
			{% set debut_valid = '' %}
			{% set fin_valid = '' %}
			{% if article.lang.code == lang  %}
				{% for value in article.fieldsValue %}
					{% if value.field.idFieldTaxonomy.name == 'Image' %}
						{% set media = value.value %}
					{% endif %}
					{% if value.field.name == 'description' %}
						{% set short_desc = value.value %}
					{% endif %}
					{% if value.field.name == 'date_news' %}
						{% set date_news = value.value %}
					{% endif %}
					{% if value.field.name == 'debut_valid' %}
						{% set debut_valid = value.value %}
					{% endif %}
					{% if value.field.name == 'fin_valid' %}
						{% set fin_valid = value.value %}
					{% endif %}		
				{% endfor %}
				{% if date(debut_valid) <= date() and date(fin_valid) >= date() %}
				<div class="left-actu-cat">
					<a href="{{ path('front', {'lang': lang, 'country': country, 'url': article.contentUrls.0.url }) }}">
						{% if media.image != '' %}
							<img src="{{ asset(media.image) }}" alt="{{ media.alt }}" title="{{ media.title }}" class="img-left" />
						{% else %}
							<img src="{{ asset('bundles/cafadmin/images/image-par-defaut.jpg') }}"	alt="{{ article.title }}" title="{{ article.title }}" />
						{% endif %}	
					</a>
				</div>
				<div class="right-cat">
					<h2>{{ article.title }}</h2>
					<em>{{ date_news|date('d/m/Y') }}</em>
					{{ short_desc|raw }}
				</div>
			
			<div class="clear"></div>
			<div class="sep"></div>
			{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>