{#

	params:
		- cols : nombre de colonnes correspond ( ex: pour recuperer la bonne classe -> span{{cols}}0 )
	
#}

{% set class = "middle_block span" ~ cols ~ "0 " ~ pos %}
{% if pos != "left" and cols < 3 %}
	{% set class = class ~ " border" %}
{% endif %}
<div class="{{ class }}">
	<div class="article_gn">
		
		{% set media = '' %}
		{% set desc = '' %}
		{% set date = '' %}
		{% for value in article.fieldsValue %}
			{% if value.field.idFieldTaxonomy.name == 'Image' %}
				{% set media = value.value %}
			{% endif %}
			{% if value.field.name == 'description' %}
				{% set desc = value.value %}
			{% endif %}
			{% if value.field.name == 'date_news' %}
				{% set date = value.value %}
			{% endif %}
		{% endfor %}
		<div class="left-actu-cat">
			{% if media.image != '' %}
				<img src="{{ asset(media.image) }}" alt="{{ media.alt }}" title="{{ media.title }}" class="img-left" />
			{% else %}
				<img src="{{ asset('bundles/cafadmin/images/image-par-defaut.jpg') }}"	alt="{{ article.title }}" title="{{ article.title }}" />
			{% endif %}	
		</div>
		<div class="right-cat">
			<h1 class="title_actu">{{ article.title|upper }}</h1><span class="date_actu"> - {{ date }}</span>
			{{ desc|raw }}
		</div>
	</div>
</div>