{#

	params:
		- cols : nombre de colonnes correspond ( ex: pour recuperer la bonne classe -> span{{cols}}0 )
	
#}

{% set class = cols %}
<div class="middle_block span{{cols}}0 border">
	<div class="article_gn">

			<h1>{{ category.title }}</h1>
			{% set media = '' %}
			{% set short_desc = '' %}
			{% for article in category.contents %}
				{% if article.lang.code == lang %}
					{% for value in article.fieldsValue %}
						{% if value.field.idFieldTaxonomy.name == 'Image' %}
							{% set media = value.value %}
						{% endif %}
						{% if value.field.name == 'description_courte' %}
							{% set short_desc = value.value %}
						{% endif %}
					{% endfor %}
					<div class="left-cat">
						<a href="{{ path('front', {'lang': lang, 'country': country, 'categoryTranslation': category.alias, 'contentTranslation': article.alias }) }}">
							<img src="{{ asset('bundles/caffront/images/picto-pdf.png') }}" alt="{{ article.title }}" title="{{ article.title }}" class="img-left" />
						</a>
					</div>
					<div class="right-cat">
						<h2>{{ article.title }}</h2>
						{{ short_desc|raw }}<a href="{{ path('front', {'lang': lang, 'country': country, 'categoryTranslation': category.alias, 'contentTranslation': article.alias }) }}">[...]</a>
					</div>
				{% endif %}
				<div class="clear"></div>
			{% endfor %}
		
	</div>
</div>