{#

	params:
		- cols : nombre de colonnes correspond ( ex: pour recuperer la bonne classe -> span{{cols}}0 )
	
#}

{% set class = "middle_block span" ~ cols ~ "0 " ~ pos %}
{% if pos != "left" and cols < 3 %}
	{% set class = class ~ " border" %}
{% endif %}
<div class="{{ class }}">
	<div class="article_gn">
		<h1>{{ article.title|upper }}</h1>
		{% for value in article.fieldsValue %}
			{% if value.field.name == 'corps-texte' %}
				{{ value.value|raw }}
			{% endif %}
		{% endfor %}
		<p>Date de publication : <em>{{ article.created|date('d/m/Y') }}</em></p>
	</div>
</div>