{% extends "::admin.html.twig" %}
{% block title "Type Email" %}

{% block menu %}
	
{% endblock menu %}

{% block titlesection %}
    {% if id is defined %}
        Editer le type d'email
    {% else %}
        Nouveau type d'email
    {% endif %} 
{% endblock titlesection %}

{% block body %}
{% if id is defined %}
	<form action="{{ path('edit_typeEmail', {'id' : id }) }}" method="post" {{ form_enctype(form) }}>
{% else %}
	<form action="{{ path('new_typeEmail') }}" method="post" {{ form_enctype(form) }}>
{% endif %}		
    {{ form_widget(form) }}
    {{ form_rest(form) }}
    {% if id is defined %}
    	<button type="submit" class="btn">Edit</button>
    {% else %}
    	<button type="submit" class="btn">Create</button>
    {% endif %}		
</form>
{% endblock body %}