{% extends "::admin.html.twig" %}
{% block title "Groupe" %}
{% block titlesection "Groupe" %}
{% block body %}
{% if id is not defined %}
	<form action="{{ path('new_group') }}" method="post" {{ form_enctype(form) }}>
{% else %}
	<form action="{{ path('edit_group', {'id' : id }) }}" method="post" {{ form_enctype(form) }}>
{% endif %}			
    {{ form_widget(form) }}
    <button type="submit" class="btn">Create User</button>
</form>
{% endblock body %}