{% extends "::admin.html.twig" %}
{% block title "Type de contenu" %}
{% block titlesection "Type de contenu" %}
{% block body %}
{% if id is not defined %}
	<form action="{{ path('new_content_taxonomy') }}" method="post" {{ form_enctype(form) }}>
{% else %}
	<form action="{{ path('edit_content_taxonomy', {'id' : id }) }}" method="post" {{ form_enctype(form) }}>
{% endif %}			
    {{ form_widget(form) }}
    <a href="{{ path('content_taxonomy') }}" class="btn">Fermer</a>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
{% endblock body %}